* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url(../img/bg.png); }

h1 {
  text-align: center;
  color: #0bbaf0;
  padding: 20px 0;
  font-weight: 700; }

.head-descr {
  text-align: center;
  color: #0bbaf0;
  font-size: 20px;
  font-weight: 700; }

.tab {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #0bbaf0;
  width: 50%;
  color: white;
  padding: 8px 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px; }

.accordion {
  margin: 40px 0; }

.content {
  border: 3px solid #aaa7a7;
  border-top: none;
  width: 49%;
  margin: 0 auto;
  display: none;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .content .descr {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 5px; }
  .content p {
    padding: 0 10px 10px;
    text-align: justify; }

.active {
  display: block; }
